*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.joke-container{
    padding: 15px;
   
}
.joke-header{
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bolder;
}
.punchline-wrapper{
    position: relative;
    margin-top: 20px;
    text-align: center;
 
    padding: 30px;
    height: 350px;
}
.punchline{
    color: red;
}
.setup  {
    font-size: 1.5rem;
}
.generateJokeBtn{
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    letter-spacing: 2px;
    background-color: green;
    color: white;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2px;
}
.generateJokeBtn:hover{
    background-color: rgb(4, 75, 4);
}
.loader {
    display: block;
    margin: 50px auto;
     /* position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%); */
     width: 38px;
     height: 38px;
     border: 5px solid #d8d5d5;
     border-bottom-color: transparent;
     border-radius: 50%;
   
     box-sizing: border-box;
     animation: rotation 1s linear infinite;
     z-index: 1000;
  
 }
 
 @keyframes rotation {
     0% {
         transform: rotate(0deg);
     }
 
     100% {
         transform: rotate(360deg);
     }
 }